.small-card {
  @include is-flex;
  @include is-row;
  padding: pxToRem(20) 0;
  img {
    object-fit: contain;
  }
  h1 {
    color: var(--fg-neutral);
  }
  h4 {
    color: var(--fg-darkest);
  }
  div {
    @include is-flex;
    @include is-column;
    @include float-evenly;
    padding-left: pxToRem(20);
  }
}

.main-card {
  @include is-flex;
  @include is-column;

  img {
    object-fit: contain;
  }

  h1 {
    color: var(--fg-darkest);
  }

  div {
    @include is-flex;
    @include is-row;
    div {
      @include is-flex;
      @include is-column;
      @include float-around;
    }
  }
}
