:root {
  --bg-primary: #E9AB53;
  --bg-primary-light-10: #efc180;
  --bg-primary-light-20: #f5d7ad;
  --bg-primary-light-30: #faeddb;
  --bg-primary-light-40: white;
  --bg-primary-light-50: white;
  --bg-primary-dark-10: #e39526;
  --bg-primary-dark-20: #be7918;
  --bg-primary-dark-30: #915c12;
  --bg-primary-dark-40: #63400d;
  --bg-primary-dark-50: #362307;
  --bg-accent: #F15E50;
  --bg-accent-light-10: #f5897f;
  --bg-accent-light-20: #f9b5ae;
  --bg-accent-light-30: #fce0de;
  --bg-accent-light-40: white;
  --bg-accent-light-50: white;
  --bg-accent-dark-10: #ed3321;
  --bg-accent-dark-20: #cb2010;
  --bg-accent-dark-30: #9c190c;
  --bg-accent-dark-40: #6c1109;
  --bg-accent-dark-50: #3d0a05;
  --bg-light: #FFFDFA;
  --bg-light-light-10: white;
  --bg-light-light-20: white;
  --bg-light-light-30: white;
  --bg-light-light-40: white;
  --bg-light-light-50: white;
  --bg-light-dark-10: #ffe9c7;
  --bg-light-dark-20: #ffd494;
  --bg-light-dark-30: #ffc061;
  --bg-light-dark-40: #ffab2e;
  --bg-light-dark-50: #fa9600;
  --bg-neutral: #C5C6CE;
  --bg-neutral-light-10: #e1e1e5;
  --bg-neutral-light-20: #fcfcfd;
  --bg-neutral-light-30: white;
  --bg-neutral-light-40: white;
  --bg-neutral-light-50: white;
  --bg-neutral-dark-10: #a9abb7;
  --bg-neutral-dark-20: #8e909f;
  --bg-neutral-dark-30: #727588;
  --bg-neutral-dark-40: #5b5d6c;
  --bg-neutral-dark-50: #444550;
  --bg-dark: #5D5F79;
  --bg-dark-light-10: #747795;
  --bg-dark-light-20: #9193ab;
  --bg-dark-light-30: #aeafc1;
  --bg-dark-light-40: #cbccd7;
  --bg-dark-light-50: #e8e8ed;
  --bg-dark-dark-10: #47485c;
  --bg-dark-dark-20: #31323f;
  --bg-dark-dark-30: #1b1b22;
  --bg-dark-dark-40: #040406;
  --bg-dark-dark-50: black;
  --bg-darkest: #00001A;
  --bg-darkest-light-10: #00004d;
  --bg-darkest-light-20: navy;
  --bg-darkest-light-30: #0000b3;
  --bg-darkest-light-40: #0000e6;
  --bg-darkest-light-50: #1a1aff;
  --bg-darkest-dark-10: black;
  --bg-darkest-dark-20: black;
  --bg-darkest-dark-30: black;
  --bg-darkest-dark-40: black;
  --bg-darkest-dark-50: black;
  --fg-primary: #E9AB53;
  --fg-primary-light-10: #efc180;
  --fg-primary-light-20: #f5d7ad;
  --fg-primary-light-30: #faeddb;
  --fg-primary-light-40: white;
  --fg-primary-light-50: white;
  --fg-primary-dark-10: #e39526;
  --fg-primary-dark-20: #be7918;
  --fg-primary-dark-30: #915c12;
  --fg-primary-dark-40: #63400d;
  --fg-primary-dark-50: #362307;
  --fg-accent: #F15E50;
  --fg-accent-light-10: #f5897f;
  --fg-accent-light-20: #f9b5ae;
  --fg-accent-light-30: #fce0de;
  --fg-accent-light-40: white;
  --fg-accent-light-50: white;
  --fg-accent-dark-10: #ed3321;
  --fg-accent-dark-20: #cb2010;
  --fg-accent-dark-30: #9c190c;
  --fg-accent-dark-40: #6c1109;
  --fg-accent-dark-50: #3d0a05;
  --fg-light: #FFFDFA;
  --fg-light-light-10: white;
  --fg-light-light-20: white;
  --fg-light-light-30: white;
  --fg-light-light-40: white;
  --fg-light-light-50: white;
  --fg-light-dark-10: #ffe9c7;
  --fg-light-dark-20: #ffd494;
  --fg-light-dark-30: #ffc061;
  --fg-light-dark-40: #ffab2e;
  --fg-light-dark-50: #fa9600;
  --fg-neutral: #C5C6CE;
  --fg-neutral-light-10: #e1e1e5;
  --fg-neutral-light-20: #fcfcfd;
  --fg-neutral-light-30: white;
  --fg-neutral-light-40: white;
  --fg-neutral-light-50: white;
  --fg-neutral-dark-10: #a9abb7;
  --fg-neutral-dark-20: #8e909f;
  --fg-neutral-dark-30: #727588;
  --fg-neutral-dark-40: #5b5d6c;
  --fg-neutral-dark-50: #444550;
  --fg-dark: #5D5F79;
  --fg-dark-light-10: #747795;
  --fg-dark-light-20: #9193ab;
  --fg-dark-light-30: #aeafc1;
  --fg-dark-light-40: #cbccd7;
  --fg-dark-light-50: #e8e8ed;
  --fg-dark-dark-10: #47485c;
  --fg-dark-dark-20: #31323f;
  --fg-dark-dark-30: #1b1b22;
  --fg-dark-dark-40: #040406;
  --fg-dark-dark-50: black;
  --fg-darkest: #00001A;
  --fg-darkest-light-10: #00004d;
  --fg-darkest-light-20: navy;
  --fg-darkest-light-30: #0000b3;
  --fg-darkest-light-40: #0000e6;
  --fg-darkest-light-50: #1a1aff;
  --fg-darkest-dark-10: black;
  --fg-darkest-dark-20: black;
  --fg-darkest-dark-30: black;
  --fg-darkest-dark-40: black;
  --fg-darkest-dark-50: black;
}/*# sourceMappingURL=main.css.map */