/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/** FONTS **/
/*! main-text-regular */
@font-face {
  font-family: "main-text-regular";
  src: url("../fonts/Inter_18pt-Regular.woff2") format("woff2"), url("../fonts/Inter_18pt-Regular.woff") format("woff"), url("../fonts/Inter_18pt-Regular.ttf") format("ttf");
}
/*! main-text-bold */
@font-face {
  font-family: "main-text-bold";
  src: url("../fonts/Inter_18pt-Bold.woff2") format("woff2"), url("../fonts/Inter_18pt-Bold.woff") format("woff"), url("../fonts/Inter_18pt-Bold.ttf") format("ttf");
}
/*! heading */
@font-face {
  font-family: "heading";
  src: url("../fonts/Inter_18pt-Bold.woff") format("woff"), url("../fonts/Inter_18pt-Bold.woff2") format("woff2"), url("../fonts/Inter_18pt-Bold.tff") format("ttf");
}
/** CUSTOM PROPERTIES **/
:root {
  /** COLOR **/
  /*! Background Color */
  /*! primary */
  --bg-primary: #E9AB53;
  --bg-primary-light-10: #efc180;
  --bg-primary-light-20: #f5d7ad;
  --bg-primary-light-30: #faeddb;
  --bg-primary-light-40: white;
  --bg-primary-light-50: white;
  --bg-primary-dark-10: #e39526;
  --bg-primary-dark-20: #be7918;
  --bg-primary-dark-30: #915c12;
  --bg-primary-dark-40: #63400d;
  --bg-primary-dark-50: #362307;
  /*! accent */
  --bg-accent: #F15E50;
  --bg-accent-light-10: #f5897f;
  --bg-accent-light-20: #f9b5ae;
  --bg-accent-light-30: #fce0de;
  --bg-accent-light-40: white;
  --bg-accent-light-50: white;
  --bg-accent-dark-10: #ed3321;
  --bg-accent-dark-20: #cb2010;
  --bg-accent-dark-30: #9c190c;
  --bg-accent-dark-40: #6c1109;
  --bg-accent-dark-50: #3d0a05;
  /*! light */
  --bg-light: #FFFDFA;
  --bg-light-light-10: white;
  --bg-light-light-20: white;
  --bg-light-light-30: white;
  --bg-light-light-40: white;
  --bg-light-light-50: white;
  --bg-light-dark-10: #ffe9c7;
  --bg-light-dark-20: #ffd494;
  --bg-light-dark-30: #ffc061;
  --bg-light-dark-40: #ffab2e;
  --bg-light-dark-50: #fa9600;
  /*! neutral */
  --bg-neutral: #C5C6CE;
  --bg-neutral-light-10: #e1e1e5;
  --bg-neutral-light-20: #fcfcfd;
  --bg-neutral-light-30: white;
  --bg-neutral-light-40: white;
  --bg-neutral-light-50: white;
  --bg-neutral-dark-10: #a9abb7;
  --bg-neutral-dark-20: #8e909f;
  --bg-neutral-dark-30: #727588;
  --bg-neutral-dark-40: #5b5d6c;
  --bg-neutral-dark-50: #444550;
  /*! dark */
  --bg-dark: #5D5F79;
  --bg-dark-light-10: #747795;
  --bg-dark-light-20: #9193ab;
  --bg-dark-light-30: #aeafc1;
  --bg-dark-light-40: #cbccd7;
  --bg-dark-light-50: #e8e8ed;
  --bg-dark-dark-10: #47485c;
  --bg-dark-dark-20: #31323f;
  --bg-dark-dark-30: #1b1b22;
  --bg-dark-dark-40: #040406;
  --bg-dark-dark-50: black;
  /*! darkest */
  --bg-darkest: #00001A;
  --bg-darkest-light-10: #00004d;
  --bg-darkest-light-20: navy;
  --bg-darkest-light-30: #0000b3;
  --bg-darkest-light-40: #0000e6;
  --bg-darkest-light-50: #1a1aff;
  --bg-darkest-dark-10: black;
  --bg-darkest-dark-20: black;
  --bg-darkest-dark-30: black;
  --bg-darkest-dark-40: black;
  --bg-darkest-dark-50: black;
  /*! Foreground Color */
  /*! primary */
  --fg-primary: #E9AB53;
  --fg-primary-light-10: #efc180;
  --fg-primary-light-20: #f5d7ad;
  --fg-primary-light-30: #faeddb;
  --fg-primary-light-40: white;
  --fg-primary-light-50: white;
  --fg-primary-dark-10: #e39526;
  --fg-primary-dark-20: #be7918;
  --fg-primary-dark-30: #915c12;
  --fg-primary-dark-40: #63400d;
  --fg-primary-dark-50: #362307;
  /*! accent */
  --fg-accent: #F15E50;
  --fg-accent-light-10: #f5897f;
  --fg-accent-light-20: #f9b5ae;
  --fg-accent-light-30: #fce0de;
  --fg-accent-light-40: white;
  --fg-accent-light-50: white;
  --fg-accent-dark-10: #ed3321;
  --fg-accent-dark-20: #cb2010;
  --fg-accent-dark-30: #9c190c;
  --fg-accent-dark-40: #6c1109;
  --fg-accent-dark-50: #3d0a05;
  /*! light */
  --fg-light: #FFFDFA;
  --fg-light-light-10: white;
  --fg-light-light-20: white;
  --fg-light-light-30: white;
  --fg-light-light-40: white;
  --fg-light-light-50: white;
  --fg-light-dark-10: #ffe9c7;
  --fg-light-dark-20: #ffd494;
  --fg-light-dark-30: #ffc061;
  --fg-light-dark-40: #ffab2e;
  --fg-light-dark-50: #fa9600;
  /*! neutral */
  --fg-neutral: #C5C6CE;
  --fg-neutral-light-10: #e1e1e5;
  --fg-neutral-light-20: #fcfcfd;
  --fg-neutral-light-30: white;
  --fg-neutral-light-40: white;
  --fg-neutral-light-50: white;
  --fg-neutral-dark-10: #a9abb7;
  --fg-neutral-dark-20: #8e909f;
  --fg-neutral-dark-30: #727588;
  --fg-neutral-dark-40: #5b5d6c;
  --fg-neutral-dark-50: #444550;
  /*! dark */
  --fg-dark: #5D5F79;
  --fg-dark-light-10: #747795;
  --fg-dark-light-20: #9193ab;
  --fg-dark-light-30: #aeafc1;
  --fg-dark-light-40: #cbccd7;
  --fg-dark-light-50: #e8e8ed;
  --fg-dark-dark-10: #47485c;
  --fg-dark-dark-20: #31323f;
  --fg-dark-dark-30: #1b1b22;
  --fg-dark-dark-40: #040406;
  --fg-dark-dark-50: black;
  /*! darkest */
  --fg-darkest: #00001A;
  --fg-darkest-light-10: #00004d;
  --fg-darkest-light-20: navy;
  --fg-darkest-light-30: #0000b3;
  --fg-darkest-light-40: #0000e6;
  --fg-darkest-light-50: #1a1aff;
  --fg-darkest-dark-10: black;
  --fg-darkest-dark-20: black;
  --fg-darkest-dark-30: black;
  --fg-darkest-dark-40: black;
  --fg-darkest-dark-50: black;
  /** FONT **/
  --main-text-regular: "main-text-regular";
  --main-text-bold: "main-text-bold";
}

body {
  margin-left: 3.125rem;
  margin-right: 3.125rem;
  padding: 1.25rem;
  background-color: var(--bg-light);
  font-family: "main-text-regular";
}

.grid-col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.span-2 {
  grid-column: span 2;
}

/** UTILITY: Colors **/
/*! Background Color */
/*! primary */
.bg-primary {
  background-color: var(--bg-primary);
}

.bg-primary-light-10 {
  background-color: var(--bg-primary-light-10);
}

.bg-primary-light-20 {
  background-color: var(--bg-primary-light-20);
}

.bg-primary-light-30 {
  background-color: var(--bg-primary-light-30);
}

.bg-primary-light-40 {
  background-color: var(--bg-primary-light-40);
}

.bg-primary-light-50 {
  background-color: var(--bg-primary-light-50);
}

.bg-primary-dark-10 {
  background-color: var(--bg-primary-dark-10);
}

.bg-primary-dark-20 {
  background-color: var(--bg-primary-dark-20);
}

.bg-primary-dark-30 {
  background-color: var(--bg-primary-dark-30);
}

.bg-primary-dark-40 {
  background-color: var(--bg-primary-dark-40);
}

.bg-primary-dark-50 {
  background-color: var(--bg-primary-dark-50);
}

/*! accent */
.bg-accent {
  background-color: var(--bg-accent);
}

.bg-accent-light-10 {
  background-color: var(--bg-accent-light-10);
}

.bg-accent-light-20 {
  background-color: var(--bg-accent-light-20);
}

.bg-accent-light-30 {
  background-color: var(--bg-accent-light-30);
}

.bg-accent-light-40 {
  background-color: var(--bg-accent-light-40);
}

.bg-accent-light-50 {
  background-color: var(--bg-accent-light-50);
}

.bg-accent-dark-10 {
  background-color: var(--bg-accent-dark-10);
}

.bg-accent-dark-20 {
  background-color: var(--bg-accent-dark-20);
}

.bg-accent-dark-30 {
  background-color: var(--bg-accent-dark-30);
}

.bg-accent-dark-40 {
  background-color: var(--bg-accent-dark-40);
}

.bg-accent-dark-50 {
  background-color: var(--bg-accent-dark-50);
}

/*! light */
.bg-light {
  background-color: var(--bg-light);
}

.bg-light-light-10 {
  background-color: var(--bg-light-light-10);
}

.bg-light-light-20 {
  background-color: var(--bg-light-light-20);
}

.bg-light-light-30 {
  background-color: var(--bg-light-light-30);
}

.bg-light-light-40 {
  background-color: var(--bg-light-light-40);
}

.bg-light-light-50 {
  background-color: var(--bg-light-light-50);
}

.bg-light-dark-10 {
  background-color: var(--bg-light-dark-10);
}

.bg-light-dark-20 {
  background-color: var(--bg-light-dark-20);
}

.bg-light-dark-30 {
  background-color: var(--bg-light-dark-30);
}

.bg-light-dark-40 {
  background-color: var(--bg-light-dark-40);
}

.bg-light-dark-50 {
  background-color: var(--bg-light-dark-50);
}

/*! neutral */
.bg-neutral {
  background-color: var(--bg-neutral);
}

.bg-neutral-light-10 {
  background-color: var(--bg-neutral-light-10);
}

.bg-neutral-light-20 {
  background-color: var(--bg-neutral-light-20);
}

.bg-neutral-light-30 {
  background-color: var(--bg-neutral-light-30);
}

.bg-neutral-light-40 {
  background-color: var(--bg-neutral-light-40);
}

.bg-neutral-light-50 {
  background-color: var(--bg-neutral-light-50);
}

.bg-neutral-dark-10 {
  background-color: var(--bg-neutral-dark-10);
}

.bg-neutral-dark-20 {
  background-color: var(--bg-neutral-dark-20);
}

.bg-neutral-dark-30 {
  background-color: var(--bg-neutral-dark-30);
}

.bg-neutral-dark-40 {
  background-color: var(--bg-neutral-dark-40);
}

.bg-neutral-dark-50 {
  background-color: var(--bg-neutral-dark-50);
}

/*! dark */
.bg-dark {
  background-color: var(--bg-dark);
}

.bg-dark-light-10 {
  background-color: var(--bg-dark-light-10);
}

.bg-dark-light-20 {
  background-color: var(--bg-dark-light-20);
}

.bg-dark-light-30 {
  background-color: var(--bg-dark-light-30);
}

.bg-dark-light-40 {
  background-color: var(--bg-dark-light-40);
}

.bg-dark-light-50 {
  background-color: var(--bg-dark-light-50);
}

.bg-dark-dark-10 {
  background-color: var(--bg-dark-dark-10);
}

.bg-dark-dark-20 {
  background-color: var(--bg-dark-dark-20);
}

.bg-dark-dark-30 {
  background-color: var(--bg-dark-dark-30);
}

.bg-dark-dark-40 {
  background-color: var(--bg-dark-dark-40);
}

.bg-dark-dark-50 {
  background-color: var(--bg-dark-dark-50);
}

/*! darkest */
.bg-darkest {
  background-color: var(--bg-darkest);
}

.bg-darkest-light-10 {
  background-color: var(--bg-darkest-light-10);
}

.bg-darkest-light-20 {
  background-color: var(--bg-darkest-light-20);
}

.bg-darkest-light-30 {
  background-color: var(--bg-darkest-light-30);
}

.bg-darkest-light-40 {
  background-color: var(--bg-darkest-light-40);
}

.bg-darkest-light-50 {
  background-color: var(--bg-darkest-light-50);
}

.bg-darkest-dark-10 {
  background-color: var(--bg-darkest-dark-10);
}

.bg-darkest-dark-20 {
  background-color: var(--bg-darkest-dark-20);
}

.bg-darkest-dark-30 {
  background-color: var(--bg-darkest-dark-30);
}

.bg-darkest-dark-40 {
  background-color: var(--bg-darkest-dark-40);
}

.bg-darkest-dark-50 {
  background-color: var(--bg-darkest-dark-50);
}

/*! Foreground Color */
/*! primary */
.fg-primary {
  color: var(--fg-primary);
}

.fg-primary-light-10 {
  color: var(--fg-primary-light-10);
}

.fg-primary-light-20 {
  color: var(--fg-primary-light-20);
}

.fg-primary-light-30 {
  color: var(--fg-primary-light-30);
}

.fg-primary-light-40 {
  color: var(--fg-primary-light-40);
}

.fg-primary-light-50 {
  color: var(--fg-primary-light-50);
}

.fg-primary-dark-10 {
  color: var(--fg-primary-dark-10);
}

.fg-primary-dark-20 {
  color: var(--fg-primary-dark-20);
}

.fg-primary-dark-30 {
  color: var(--fg-primary-dark-30);
}

.fg-primary-dark-40 {
  color: var(--fg-primary-dark-40);
}

.fg-primary-dark-50 {
  color: var(--fg-primary-dark-50);
}

/*! accent */
.fg-accent {
  color: var(--fg-accent);
}

.fg-accent-light-10 {
  color: var(--fg-accent-light-10);
}

.fg-accent-light-20 {
  color: var(--fg-accent-light-20);
}

.fg-accent-light-30 {
  color: var(--fg-accent-light-30);
}

.fg-accent-light-40 {
  color: var(--fg-accent-light-40);
}

.fg-accent-light-50 {
  color: var(--fg-accent-light-50);
}

.fg-accent-dark-10 {
  color: var(--fg-accent-dark-10);
}

.fg-accent-dark-20 {
  color: var(--fg-accent-dark-20);
}

.fg-accent-dark-30 {
  color: var(--fg-accent-dark-30);
}

.fg-accent-dark-40 {
  color: var(--fg-accent-dark-40);
}

.fg-accent-dark-50 {
  color: var(--fg-accent-dark-50);
}

/*! light */
.fg-light {
  color: var(--fg-light);
}

.fg-light-light-10 {
  color: var(--fg-light-light-10);
}

.fg-light-light-20 {
  color: var(--fg-light-light-20);
}

.fg-light-light-30 {
  color: var(--fg-light-light-30);
}

.fg-light-light-40 {
  color: var(--fg-light-light-40);
}

.fg-light-light-50 {
  color: var(--fg-light-light-50);
}

.fg-light-dark-10 {
  color: var(--fg-light-dark-10);
}

.fg-light-dark-20 {
  color: var(--fg-light-dark-20);
}

.fg-light-dark-30 {
  color: var(--fg-light-dark-30);
}

.fg-light-dark-40 {
  color: var(--fg-light-dark-40);
}

.fg-light-dark-50 {
  color: var(--fg-light-dark-50);
}

/*! neutral */
.fg-neutral {
  color: var(--fg-neutral);
}

.fg-neutral-light-10 {
  color: var(--fg-neutral-light-10);
}

.fg-neutral-light-20 {
  color: var(--fg-neutral-light-20);
}

.fg-neutral-light-30 {
  color: var(--fg-neutral-light-30);
}

.fg-neutral-light-40 {
  color: var(--fg-neutral-light-40);
}

.fg-neutral-light-50 {
  color: var(--fg-neutral-light-50);
}

.fg-neutral-dark-10 {
  color: var(--fg-neutral-dark-10);
}

.fg-neutral-dark-20 {
  color: var(--fg-neutral-dark-20);
}

.fg-neutral-dark-30 {
  color: var(--fg-neutral-dark-30);
}

.fg-neutral-dark-40 {
  color: var(--fg-neutral-dark-40);
}

.fg-neutral-dark-50 {
  color: var(--fg-neutral-dark-50);
}

/*! dark */
.fg-dark {
  color: var(--fg-dark);
}

.fg-dark-light-10 {
  color: var(--fg-dark-light-10);
}

.fg-dark-light-20 {
  color: var(--fg-dark-light-20);
}

.fg-dark-light-30 {
  color: var(--fg-dark-light-30);
}

.fg-dark-light-40 {
  color: var(--fg-dark-light-40);
}

.fg-dark-light-50 {
  color: var(--fg-dark-light-50);
}

.fg-dark-dark-10 {
  color: var(--fg-dark-dark-10);
}

.fg-dark-dark-20 {
  color: var(--fg-dark-dark-20);
}

.fg-dark-dark-30 {
  color: var(--fg-dark-dark-30);
}

.fg-dark-dark-40 {
  color: var(--fg-dark-dark-40);
}

.fg-dark-dark-50 {
  color: var(--fg-dark-dark-50);
}

/*! darkest */
.fg-darkest {
  color: var(--fg-darkest);
}

.fg-darkest-light-10 {
  color: var(--fg-darkest-light-10);
}

.fg-darkest-light-20 {
  color: var(--fg-darkest-light-20);
}

.fg-darkest-light-30 {
  color: var(--fg-darkest-light-30);
}

.fg-darkest-light-40 {
  color: var(--fg-darkest-light-40);
}

.fg-darkest-light-50 {
  color: var(--fg-darkest-light-50);
}

.fg-darkest-dark-10 {
  color: var(--fg-darkest-dark-10);
}

.fg-darkest-dark-20 {
  color: var(--fg-darkest-dark-20);
}

.fg-darkest-dark-30 {
  color: var(--fg-darkest-dark-30);
}

.fg-darkest-dark-40 {
  color: var(--fg-darkest-dark-40);
}

.fg-darkest-dark-50 {
  color: var(--fg-darkest-dark-50);
}

/** UTILITY: Fonts **/
.main-text-regular-14 {
  font-family: "main-text-regular";
  font-size: 0.875rem;
}

.main-text-regular-16 {
  font-family: "main-text-regular";
  font-size: 1rem;
}

.main-text-regular-18 {
  font-family: "main-text-regular";
  font-size: 1.125rem;
}

.main-text-regular-20 {
  font-family: "main-text-regular";
  font-size: 1.25rem;
}

.main-text-regular-24 {
  font-family: "main-text-regular";
  font-size: 1.5rem;
}

.main-text-regular-36 {
  font-family: "main-text-regular";
  font-size: 2.25rem;
}

.main-text-regular-44 {
  font-family: "main-text-regular";
  font-size: 2.75rem;
}

.main-text-bold-14 {
  font-family: "main-text-bold";
  font-size: 0.875rem;
}

.main-text-bold-16 {
  font-family: "main-text-bold";
  font-size: 1rem;
}

.main-text-bold-18 {
  font-family: "main-text-bold";
  font-size: 1.125rem;
}

.main-text-bold-20 {
  font-family: "main-text-bold";
  font-size: 1.25rem;
}

.main-text-bold-24 {
  font-family: "main-text-bold";
  font-size: 1.5rem;
}

.main-text-bold-36 {
  font-family: "main-text-bold";
  font-size: 2.25rem;
}

.main-text-bold-44 {
  font-family: "main-text-bold";
  font-size: 2.75rem;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: var(--fg-accent);
  transition: all 0.3s ease;
}

.nav a {
  color: var(--fg-darkest);
  padding: 1.25rem;
}
.nav a:hover {
  color: var(--fg-accent);
  transition: all 0.3s ease;
}

.new-in-block a {
  color: var(--fg-light);
}
.new-in-block a:hover {
  color: var(--fg-primary);
  transition: all 0.3s ease;
}

.small-card a {
  color: var(--fg-darkest);
}
.small-card a:hover {
  color: var(--fg-accent);
  transition: all 0.3s ease;
}

button {
  border: none;
  padding: 0.5rem 1rem;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  letter-spacing: 0.3125rem;
}

.main-card button {
  background-color: var(--bg-accent);
  color: var(--fg-light);
}
.main-card button:hover {
  background-color: var(--bg-darkest);
  transition: all 0.3s ease;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

h1 {
  font-family: "heading";
  font-size: 2.75rem;
}

h2 {
  font-family: "heading";
  font-size: 2.25rem;
}

h3 {
  font-family: "heading";
  font-size: 1.5rem;
}

h4 {
  font-family: "heading";
  font-size: 1.25rem;
}

h5 {
  font-family: "heading";
  font-size: 1.125rem;
}

h6 {
  font-family: "heading";
  font-size: 1rem;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav div ul {
  display: flex;
  flex-direction: row;
}
.nav div ul li {
  list-style-type: none;
}

.new-in-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.25rem;
  background-color: var(--bg-darkest);
  color: --fg-neutral;
}
.new-in-block h2 {
  color: var(--fg-primary);
}
.new-in-block h3 {
  color: var(--fg-light);
}
.new-in-block div {
  display: flex;
  flex-direction: column;
  height: 25%;
}
.new-in-block hr {
  border-top: 0.0625rem solid var(--fg-neutral);
  width: 100%;
}

.small-card {
  display: flex;
  flex-direction: row;
  padding: 1.25rem 0;
}
.small-card img {
  -o-object-fit: contain;
     object-fit: contain;
}
.small-card h1 {
  color: var(--fg-neutral);
}
.small-card h4 {
  color: var(--fg-darkest);
}
.small-card div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 1.25rem;
}

.main-card {
  display: flex;
  flex-direction: column;
}
.main-card img {
  -o-object-fit: contain;
     object-fit: contain;
}
.main-card h1 {
  color: var(--fg-darkest);
}
.main-card div {
  display: flex;
  flex-direction: row;
}
.main-card div div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}/*# sourceMappingURL=main.css.map */