@import "vars";

body {
    font-family: $font-family;
    font-size: $fs-base;
    font-weight: $fw-base;

    display: grid;
    place-items: center;

}

h1 {
    font-size: $fs-xl;
    line-height: $lh-base;
}

h2 {
    font-size: $fs-l;
}

a {
    text-decoration: none;
    color: inherit;
}

.page-width {
    width: 80%;
}

.homepage-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    padding-block: 2rem;
}

.grid-col-span-2 {
    grid-column: span 2;
}

.padding-small {
    padding: $padding-s;
}

.padding-horizontal-small {
    padding-left: $padding-s;
    padding-right: $padding-s;
}

.padding-horizontal-medium {
    padding-left: $padding-m;
    padding-right: $padding-m;
}

.padding-vertical-small {
    padding-top: $padding-s;
    padding-bottom: $padding-s;
}

.text-color-white {
    color: $color-white !important;
}

.text-color-gray {
    color: $color-gray;
}

.text-color-dark-blue {
    color: $color-dark-blue;
}

.text-color-yellow {
    color: $color-accent-yellow;
}

.fw-medium {
    font-weight: $fw-medium;
}

.fw-bold {
    font-weight: $fw-bold;
}

.bg-darkest-blue {
    background-color: $color-darkest-blue;
}

.bg-orange {
    background-color: $color-accent-orange;
}

.uppercase-text {
    text-transform: uppercase;
}

.letterspacing-big {
    letter-spacing: $letterspacing-big;
}

.small-card {
    height: 150px;
}

.small-card img {
    object-fit: contain;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

hr.gray-divider {
    border-top: 1px, solid, $color-gray;
    width: 100%;
}

a.orange-hover:hover {
    color: $color-accent-orange;
}

a.yellow-hover:hover {
    color: $color-accent-yellow;
}

.menu {
    list-style-type: none;
    flex-direction: row-reverse;

    li {
        float: left;
    }
    
    a {
        padding: $padding-s;
    }
}


button {
    border: none;
    padding: 12px 24px;
    width: fit-content;

    &.darkest-blue-hover:hover {
        background-color: $color-darkest-blue;
        cursor: pointer;
    }

}
