a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: var(--fg-accent);
    transition: all 0.3s ease;
  }
}

.nav a {
  color: var(--fg-darkest);
  padding: pxToRem(20);
  &:hover {
    color: var(--fg-accent);
    transition: all 0.3s ease;
  }
}

.new-in-block a {
  color: var(--fg-light);

  &:hover {
    color: var(--fg-primary);
    transition: all 0.3s ease;
  }
}

.small-card a {
  color: var(--fg-darkest);
  &:hover {
    color: var(--fg-accent);
    transition: all 0.3s ease;
  }
}
