@mixin float-right {
  justify-content: flex-end;
}

@mixin float-start {
  justify-content: flex-start;
}

@mixin float-center {
  justify-content: center;
}

@mixin float-around {
  justify-content: space-around;
}

@mixin float-between {
  justify-content: space-between;
}

@mixin float-evenly {
  justify-content: space-evenly;
}
