/** UTILITY: Fonts **/
@each $style in $fonts {
  $type: map-get($style, "type");
  @each $s in map-get($style, "sizes") {
    $v: $type + "-" + $s;
    .#{$v} {
      font-family: quote($type);
      font-size: pxToRem($s);
    }
  }
}
