$tokens: (
  unit: rem,
  colors: ((
    type: primary,
    color: #E9AB53,
    shades: (10, 20, 30, 40, 50)
  ), (
    type: accent,
    color: #F15E50,
    shades: (10, 20, 30, 40, 50)
  ), (
    type: light,
    color: #FFFDFA,
    shades: (10, 20, 30, 40, 50)
  ), (
    type: neutral,
    color: #C5C6CE,
    shades: (10, 20, 30, 40, 50)
  ), (
    type: dark,
    color: #5D5F79,
    shades: (10, 20, 30, 40, 50)
  ), (
    type: darkest,
    color: #00001A,
    shades: (10, 20, 30, 40, 50)
  )),
  fonts: ((
    type: main-text-regular,
    uri: 'resources/fonts/Inter-VariableFont_opsz,wght',
    sizes: (14, 20, 36, 44)
  ), (
    type: main-text-bold,
    uri: 'resources/fonts/Inter-VariableFont_opsz,wght',
    sizes: (14, 20, 36, 44)
  ), (
    type: main-text-heading,
    uri: 'resources/fonts/Inter-VariableFont_opsz,wght',
    sizes: (14, 20, 36, 44)
  )),
  spacing: (
    small: 1,
    medium: 2,
    large: 3
  )
);
